@page "/PUResuljogoBicho"
@inject IAuthService AuthService;
@inject NavigationManager _nav;


<header class="header topo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 centralizar">
                <div class="logo">
                    <img src="img/IMAGEM LOGO FUNDO TRANSPARENTE.png" />
                </div>
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="menu">
                    <li>
                        <a href="#">HOME</a>
                    </li>
                    <li>
                        <a href="#">GUIA DO JOGO</a>
                    </li>
                    <li>
                        <a href="#">SORTEIOS</a>
                    </li>
                    <li>
                        <button class="jogar"> JOGAR</button>
                    </li>
                    <li>
                        <div class="nome">
                            <p> <b> Nome </b></p>
                            <button class="btn-nome"> </button>
                        </div>
                    </li>
                    <li>
                        <div class="saldo">
                            <p> <b>SALDO</b></p>
                            <button class="btn-saldo">
                                <p> R$1.500,00 </p>
                            </button>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container apostar-bolao">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2">
            <div class="click">
                <button class="btn"><b>PERFIL</b> </button>
                <button class="btn"> BILHETES </button>
                <button class="btn"> DEPOSITAR </button>
                <button class="btn"> SACAR </button>
                <button class="btn"> APOSTAR </button>
                <button class="btn-apostar"> RESULTADOS </button>
                <button class="btn"> TABELA </button>
                <button class="btn"> AJUDA </button>
                <button class="btn-sair"> SAIR </button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10">
            <div class="ld-direito">
                <div class="encima row">
                    <div class="acumulou-segundo col-xs-12 col-sm-12 col-md-6">
                        <h1><b>FALTA</b></h1>

                        <div class="cinza">
                            <div class="btn1">
                                <button class="btn-acumulou"> </button>
                                <button class="btn-acumulou"> </button>
                                <h3> : </h3>
                            </div>
                            <div class="btn2">
                                <button class="btn-acumulou"> </button>
                                <button class="btn-acumulou"> </button>
                            </div>
                        </div>
                        <h2><b>PARA O PRÓ XIMO SORTEIO DO JOGO DO BICHO</b></h2>
                    </div>

                    <div class="acumulou col-xs-12 col-sm-12 col-md-6">
                        <h1>BOLÃ O ACUMULADO</h1>

                        <div class="cinza">
                            <div class="btn1">
                                <button class="btn-acumulou1"> </button>
                                <button class="btn-acumulou"> </button>
                                <button class="btn-acumulou"> </button>
                                <button class="btn-acumulou"> </button>
                            </div>
                            <div class="btn2">
                                <button class="btn-acumulou"> </button>
                                <button class="btn-acumulou"> </button>
                                <button class="btn-acumulou"> </button>
                            </div>
                        </div>

                    </div>

                    <div class="linha-titulo-img style-tabela-container"> <img src="img/jgbicho.png" /> </div>

                    <div class="style-calendario-jogo style-tabela-container col-xs-12 col-sm-12 col-md-12">

                        <center>
                            <div class="sorteio2 scroll-mobile-y">
                                <div class="triang2">
                                    <i class="fa-sharp fa-solid fa-play fa-flip-horizontal"></i>
                                    <h1>RESULTADO</h1>
                                    <i class="fa-sharp fa-solid fa-play"></i>
                                </div>

                                <p> 10 DE NOVEMBRO </p>

                                <div class="sorteio2 scroll-mobile-y">
                                    <div class="dias2">
                                        <button class="Dsort2"> SORTEIOS </button>


                                        <h1> PTM |</h1>
                                        <h2> 11:00 </h2>


                                        <h1> PT |</h1>
                                        <h2> 14:00 </h2>

                                        <h1> PTV |</h1>
                                        <h2> 16:00 </h2>

                                        <h1> PTN |</h1>
                                        <h2> 18:00 </h2>

                                        <h1> COR |</h1>
                                        <h2> 21:00 </h2>


                                    </div>

                                    <div class="cartilha">
                                        <img src="img/num1.png" />
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                    </div>

                                    <div class="cartilha">
                                        <img src="img/num2.png" />
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                    </div>

                                    <div class="cartilha">
                                        <img src="img/num3.png" />
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                    </div>

                                    <div class="cartilha">
                                        <img src="img/num4.png" />
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                    </div>

                                    <div class="cartilha">
                                        <img src="img/num5.png" />
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>
                                        <button class="espa"> </button>

                                    </div>


                                    <div class="resul"> Resultado da extraç ã o do Rio de Janeiro </div>
                                </div>
                            </div>
                        </center>

                        <center>
                            <div class="legenda scroll-mobile-y">
                                <div class="scroll-mobile">
                                    <div class="inicio">
                                        <button class="traco"> </button>
                                        <button class="text"> LEGENDA </button>
                                        <button class="traco"> </button>
                                    </div>
                                    <div class="lado-lado">
                                        <div class="prim">
                                            <button class="dia">
                                                <h1> PTM |</h1>
                                                <h2> PARA TODA MANHÃ </h2>
                                                <h3>11:00</h3>
                                            </button>
                                            <button class="dia">
                                                <h1> PTV |</h1>
                                                <h2> PARA TODOS VESPERTINO </h2>
                                                <h3> 14:00 </h3>
                                            </button>
                                            <button class="dia">
                                                <h1> FED |</h1>
                                                <h2> FEDERAL (QUARTA E SÁ BADO) </h2>
                                                <h3> 19:00</h3>
                                            </button>
                                        </div>
                                        <div class="seg">
                                            <button class="dia">
                                                <h1> PT |</h1>
                                                <h2> PARA TODOS </h2>
                                                <h3> 14:00</h3>
                                            </button>
                                            <button class="dia">
                                                <h1> PTN |</h1>
                                                <h2> PARA TODA NOITE </h2>
                                                <h3> 18:00 </h3>
                                            </button>
                                            <button class="dia">
                                                <h1> COR |</h1>
                                                <h2> CORUJINHA </h2>
                                                <h3> 21:00</h3>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </center>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<footer>
    <div class="container">
        <div class="row rodape">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="copy">
                    <p> Copyright 1993-2022 Animal Game N.V </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="redes">
                    <h1> SIGA, CURTE E COMPARTILHE!</h1>
                    <div class="icons">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-tiktok"></i>
                        <i class="fa-brands fa-vimeo-v"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-discord"></i>
                        <i class="fa-brands fa-github"></i>
                    </div>
                    <h2> Baixe nosso aplicativo</h2>
                    <img class="um" src="img/google.png" />
                    <img class="dois" src="img/Img_app_store.png" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="direita">
                    <img class="dois" src="img/bandeira.png" />
                    <div class="link">
                        <h2> <i class="fa-regular fa-envelope"></i> suporte@jogos.capital</h2>
                    </div>
                    <h3> Proibido jogar menores de 18 anos <i class="fa-solid fa-ban"></i> </h3>
                </div>
            </div>
        </div>
    </div>
</footer>