@page "/PUResultados"
@inject IAuthService AuthService;
@inject NavigationManager _nav;



<header class="header topo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 centralizar">
                <div class="logo">
                    <img src="img/IMAGEM LOGO FUNDO TRANSPARENTE.png" />
                </div>
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="menu">
                    <li>
                        <a href="#">HOME</a>
                    </li>
                    <li>
                        <a href="#">GUIA DO JOGO</a>
                    </li>
                    <li>
                        <a href="#">SORTEIOS</a>
                    </li>
                    <li>
                        <button class="jogar"> JOGAR</button>
                    </li>
                    <li>
                        <div class="nome">
                            <p> <b> Nome </b></p>
                            <button class="btn-nome"> </button>
                        </div>
                    </li>
                    <li>
                        <div class="saldo">
                            <p> <b>SALDO</b></p>
                            <button class="btn-saldo">
                                <p> R$1.500,00 </p>
                            </button>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</header>


<div class="container apostar-bolao">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2">
            <div class="click">
                <button class="btn"><b>PERFIL</b> </button>
                <button class="btn"> BILHETES </button>
                <button class="btn"> DEPOSITAR </button>
                <button class="btn"> SACAR </button>
                <button class="btn"> APOSTAR </button>
                <button class="btn-apostar"> RESULTADOS </button>
                <button class="btn"> TABELA </button>
                <button class="btn"> AJUDA </button>
                <button class="btn-sair"> SAIR </button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10">
            <div class="ld-direito">
                <div class="encima row">
                    <div class="acumulou-segundo col-xs-12 col-sm-12 col-md-6">
                        <h1><b>FALTA</b></h1>

                        <div class="cinza">
                            <div class="btn1">
                                <button class="btn-acumulou"> </button>
                                <button class="btn-acumulou"> </button>
                                <h3> : </h3>
                            </div>
                            <div class="btn2">
                                <button class="btn-acumulou"> </button>
                                <button class="btn-acumulou"> </button>
                            </div>
                        </div>
                        <h2><b>PARA O PRÓXIMO SORTEIO DO JOGO DO BICHO</b></h2>
                    </div>

                    <div class="acumulou col-xs-12 col-sm-12 col-md-6">
                        <h1>BOLÃO ACUMULADO</h1>

                        <div class="cinza">
                            <div class="btn1">
                                <button class="btn-acumulou1"> </button>
                                <button class="btn-acumulou"> </button>
                                <button class="btn-acumulou"> </button>
                                <button class="btn-acumulou"> </button>
                            </div>
                            <div class="btn2">
                                <button class="btn-acumulou"> </button>
                                <button class="btn-acumulou"> </button>
                                <button class="btn-acumulou"> </button>
                            </div>
                        </div>

                    </div>

                    <div class="style-calendario-jogo style-tabela-container col-xs-12 col-sm-12 col-md-12">
                        <div class="linha-titulo" style="
                            margin-top: 21px;
                        "> RESULTADOS </div>

                        <center>
                            <div class="btn-bicho-bolao">
                                <div class="jogoBicho"> <img src="img/13.png" /> </div>

                                <div class="bolao"> <img src="img/14.png" /> </div>
                            </div>
                        </center>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<footer>
    <div class="container">
        <div class="row rodape">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="copy">
                    <p> Copyright 1993-2022 Animal Game N.V </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="redes">
                    <h1> SIGA, CURTE E COMPARTILHE!</h1>
                    <div class="icons">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-tiktok"></i>
                        <i class="fa-brands fa-vimeo-v"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-discord"></i>
                        <i class="fa-brands fa-github"></i>
                    </div>
                    <h2> Baixe nosso aplicativo</h2>
                    <img class="um" src="img/google.png" />
                    <img class="dois" src="img/Img_app_store.png" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="direita">
                    <img class="dois" src="img/bandeira.png" />
                    <div class="link">
                        <h2> <i class="fa-regular fa-envelope"></i> suporte@jogos.capital</h2>
                    </div>
                    <h3> Proibido jogar menores de 18 anos <i class="fa-solid fa-ban"></i> </h3>
                </div>
            </div>
        </div>
    </div>
</footer>