@page "/Resultados"
@inject IAuthService AuthService;
@inject NavigationManager _nav;

<header class="header topo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 centralizar">
                <div class="logo">
                    <img src="img/IMAGEM LOGO FUNDO TRANSPARENTE.png" />
                </div>
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="menu">
                    <li>
                        <a href="#">HOME</a>
                    </li>
                    <li>
                        <a href="#">GUIA DO JOGO</a>
                    </li>
                    <li>
                        <a href="#">SORTEIOS</a>
                    </li>
                    <li>
                        <button class="jogar"> JOGAR</button>
                    </li>
                    <li>
                        <a href="#">RESULTADO</a>
                    </li>
                    <li>
                        <a href="#">ENTRAR</a>
                    </li>
                    <li>
                        <button class="cad"> CADASTRAR</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="linha-titulo-img"> <img src="img/resuljog.png" /> </div>


<div class="container style-calendario-jogo dias-calendario none-scroll">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <center>
                <div class="calendario">
                    <div class="triang">
                        <i class="fa-sharp fa-solid fa-play fa-flip-horizontal"></i>
                        <h1>NOVEMBRO</h1>
                        <i class="fa-sharp fa-solid fa-play"></i>
                    </div>

                    <div class="table scroll-mobile-y">
                        <div class="scroll-mobile">
                            <div class="DiaSem">
                                <button class="dia" style="color: #1b6bb3"> DOM</button>
                                <button class="dia"> SEG</button>
                                <button class="dia"> TER </button>
                                <button class="dia"> QUA </button>
                                <button class="dia"> QUI </button>
                                <button class="dia"> SEX </button>
                                <button class="dia"> SAB </button>
                            </div>

                            <div class="dias dias-none-flex">
                                <button class="escudo">
                                    <p> 01 </p>
                                </button>
                                <button class="escudo">
                                    <p> 02 </p>
                                </button>
                                <button class="escudo">
                                    <p> 03 </p>
                                </button>
                                <button class="escudo">
                                    <p> 04 </p>
                                </button>
                                <button class="escudo">
                                    <p> 05 </p>
                                </button>
                                <button class="escudo">
                                    <p> 06 </p>
                                </button>
                                <button class="escudo">
                                    <p> 07 </p>
                                </button>
                                <button class="escudo">
                                    <p> 08 </p>
                                </button>
                                <button class="escudo">
                                    <p> 09 </p>
                                </button>
                                <button class="escudo">
                                    <p> 10 </p>
                                </button>
                                <button class="escudo">
                                    <p> 11 </p>
                                </button>
                                <button class="escudo">
                                    <p> 12 </p>
                                </button>
                                <button class="escudo">
                                    <p> 13 </p>
                                </button>
                                <button class="escudo">
                                    <p> 14 </p>
                                </button>
                                <button class="escudo">
                                    <p> 15 </p>
                                </button>
                                <button class="escudo">
                                    <p> 16 </p>
                                </button>
                                <button class="escudo">
                                    <p> 17 </p>
                                </button>
                                <button class="escudo">
                                    <p> 18 </p>
                                </button>
                                <button class="escudo">
                                    <p> 19 </p>
                                </button>
                                <button class="escudo">
                                    <p> 20 </p>
                                </button>
                                <button class="escudo">
                                    <p> 21 </p>
                                </button>
                                <button class="escudo">
                                    <p> 22 </p>
                                </button>
                                <button class="escudo">
                                    <p> 23 </p>
                                </button>
                                <button class="escudo">
                                    <p> 24 </p>
                                </button>
                                <button class="escudo">
                                    <p> 25 </p>
                                </button>
                                <button class="escudo">
                                    <p> 26 </p>
                                </button>
                                <button class="escudo">
                                    <p> 27 </p>
                                </button>
                                <button class="escudo">
                                    <p> 28 </p>
                                </button>
                                <button class="escudo">
                                    <p> 29 </p>
                                </button>
                                <button class="escudo">
                                    <p> 30 </p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row rodape">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="copy">
                    <p> Copyright 1993-2022 Animal Game N.V </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="redes">
                    <h1> SIGA, CURTE E COMPARTILHE!</h1>
                    <div class="icons">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-tiktok"></i>
                        <i class="fa-brands fa-vimeo-v"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-discord"></i>
                        <i class="fa-brands fa-github"></i>
                    </div>
                    <h2> Baixe nosso aplicativo</h2>
                    <img class="um" src="img/google.png" />
                    <img class="dois" src="img/Img_app_store.png" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="direita">
                    <img class="dois" src="img/bandeira.png" />
                    <div class="link">
                        <h2> <i class="fa-regular fa-envelope"></i> suporte@jogos.capital</h2>
                    </div>
                    <h3> Proibido jogar menores de 18 anos <i class="fa-solid fa-ban"></i> </h3>
                </div>
            </div>
        </div>
    </div>
</footer>