@page "/ResulData"
@inject IAuthService AuthService;
@inject NavigationManager _nav;



<header class="header topo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 centralizar">
                <div class="logo">
                    <img src="img/IMAGEM LOGO FUNDO TRANSPARENTE.png" />
                </div>
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="menu">
                    <li>
                        <a href="#">HOME</a>
                    </li>
                    <li>
                        <a href="#">GUIA DO JOGO</a>
                    </li>
                    <li>
                        <a href="#">SORTEIOS</a>
                    </li>
                    <li>
                        <button class="jogar"> JOGAR</button>
                    </li>
                    <li>
                        <a href="#">RESULTADO</a>
                    </li>
                    <li>
                        <a href="#">ENTRAR</a>
                    </li>
                    <li>
                        <button class="cad"> CADASTRAR</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="linha-titulo-img"> <img src="img/bolao.png" /> </div>




<div class="container style-calendario-jogo">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <center>
                <div class="acumulou">
                    <h1>PRÊMIO ACUMULOU</h1>

                    <div class="cinza">
                        <div class="btn1">
                            <button class="btn-acumulou1"> </button>
                            <button class="btn-acumulou"> </button>
                            <button class="btn-acumulou"> </button>
                            <button class="btn-acumulou"> </button>
                        </div>
                        <div class="btn2">
                            <button class="btn-acumulou"> </button>
                            <button class="btn-acumulou"> </button>
                            <button class="btn-acumulou"> </button>
                        </div>
                    </div>

                </div>
            </center>

            <center>
                <div class="btn-prox"> JOGAR NO PRÓ XIMO BOLÃ O </div>
            </center>

            <center>
                <div class="sorteio2 scroll-mobile-y">
                    <div class="dias-calendario">
                        <div class="triang">
                            <i class="fa-sharp fa-solid fa-play fa-flip-horizontal"></i>
                            <h1>SORTEIO</h1>
                            <i class="fa-sharp fa-solid fa-play"></i>
                        </div>
                    </div>


                    <p> Realizado no dia 02/11/22 até o dia 05/11/22 </p>


                    <div class="scroll-mobile">
                        <div class="dias2">
                            <button class="Dsort2"> SORTEIOS </button>
                            <h1> QUA |</h1>
                            <h2> 19h </h2>
                            <h1> QUI |</h1>
                            <h2> 14h </h2>
                            <h1> QUI |</h1>
                            <h2> 18h </h2>
                            <h1> SEX |</h1>
                            <h2> 14h </h2>
                            <h1> SEX |</h1>
                            <h2> 18h </h2>
                            <h1> SAB |</h1>
                            <h2> 14h </h2>
                            <h1> SAB |</h1>
                            <h2> 19h </h2>
                        </div>

                        <div class="cartilha">
                            <img src="img/num1.png" />
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                        </div>

                        <div class="cartilha">
                            <img src="img/num2.png" />
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                        </div>

                        <div class="cartilha">
                            <img src="img/num3.png" />
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                        </div>

                        <div class="cartilha">
                            <img src="img/num4.png" />
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                        </div>

                        <div class="cartilha">
                            <img src="img/num5.png" />
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>
                            <button class="espa2"> </button>

                        </div>


                        <div class="resul"> Resultado da extração do Rio de Janeiro </div>
                    </div>
                </div>
            </center>

            <center>
                <div class="legenda2 scroll-mobile-y">
                    <div class="inicio">
                        <button class="traco"> </button>
                        <button class="text"> LEGENDA </button>
                        <button class="traco"> </button>
                    </div>
                    <div class="scroll-mobile">
                        <div class="prim2">
                            <button class="dia2">
                                <h1> QUA |</h1>
                                <h2> QUARTA-FEIRA </h2>
                            </button>
                            <button class="dia2">
                                <h1> SEX |</h1>
                                <h2> SEXTA-FEIRA </h2>
                            </button>
                        </div>
                        <div class="seg2">
                            <button class="dia2">
                                <h1> QUI |</h1>
                                <h2> QUINTA-FEIRA </h2>
                            </button>
                            <button class="dia2">
                                <h1> SAB |</h1>
                                <h2> SÁBADO </h2>
                            </button>
                        </div>

                        <button class="regras"> Leia as regras </button>
                    </div>
                </div>
            </center>

            <div class="atencao">
                <img src="img/atencao.png" />
                <button class="amarelo">
                    <p>Podem fazer as apostas à partir das <b>20h de sábado</b> e encerra na <b>Quarta-feira às 18h</b>
                    </p>
                </button>
            </div>
        </div>
    </div>
</div>




<footer>
    <div class="container">
        <div class="row rodape">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="copy">
                    <p> Copyright 1993-2022 Animal Game N.V </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="redes">
                    <h1> SIGA, CURTE E COMPARTILHE!</h1>
                    <div class="icons">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-tiktok"></i>
                        <i class="fa-brands fa-vimeo-v"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-discord"></i>
                        <i class="fa-brands fa-github"></i>
                    </div>
                    <h2> Baixe nosso aplicativo</h2>
                    <img class="um" src="img/google.png" />
                    <img class="dois" src="img/Img_app_store.png" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="direita">
                    <img class="dois" src="img/bandeira.png" />
                    <div class="link">
                        <h2> <i class="fa-regular fa-envelope"></i> suporte@jogos.capital</h2>
                    </div>
                    <h3> Proibido jogar menores de 18 anos <i class="fa-solid fa-ban"></i> </h3>
                </div>
            </div>
        </div>
    </div>
</footer>