@media (min-width: 1200px) and (max-width: 1600px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
  .style-tabela-container.style-calendario-jogo .dias2 h1,
  .style-tabela-container.style-calendario-jogo .dias2 h2,
  .style-tabela-container.style-calendario-jogo .Dsort2 {
    font-size: 15px;
  }

  .style-tabela-container.style-calendario-jogo .atencao img {
    width: 164px;
    height: 54px;
    object-fit: cover;
    margin: 83px 0;
  }

  .style-calendario-jogo .amarelo p {
    width: 601px;
  }

  .style-calendario-jogo .atencao img {
    width: 244px;
    height: 72px;
    object-fit: cover;
    margin: 68px 0;
  }
  .style-calendario-jogo .acumulou h1 {
    font-size: 36px;
    margin-top: -66px;
  }

  .style-calendario-jogo .triang h1 {
    font-size: 69px;
  }
  .style-calendario-jogo .dias h1,
  .style-calendario-jogo .dias h2,
  .style-calendario-jogo .Dsort1 {
    font-size: 16px;
  }
  .style-calendario-jogo .dias2 h2,
  .style-calendario-jogo .dias2 h1,
  .style-calendario-jogo .Dsort2 {
    font-size: 20px;
  }

  .style-calendario-jogo .legenda {
    width: 100%;
  }
  .style-calendario-jogo .dia {
    width: calc(100% - 37px);
  }

  /* ------------ */
  footer .redes i {
    margin-top: 15px;
    text-align: center;
    align-items: center;
    font-size: 21px;
  }
  .secao-iniciais .entrar .icon-bem-vindo {
    width: 254px;
    height: 158px;
  }

  .acessar-com-celular .rz-textbox {
    font-size: 28px;
  }
  /***/
  header.topo .logo img {
    width: 150px;
    height: 180px;
  }

  header.topo .cad {
    width: 132px;
  }
  header.topo .menu a {
    margin-right: 17px;
  }
  header.topo .menu {
    font-size: 25px;
  }
  header.topo .jogar {
    margin-right: 16px;
    width: 106px;
    font-size: 29px;
  }
  .btn-bicho-bolao .jogoBicho img,
  .btn-bicho-bolao .bolao img {
    width: 352px;
    height: 260px;
  }
  .apostar-bolao .esp {
    width: 46px;
  }
  .apostar-bolao .bilhete p2 {
    margin-left: 330px;
  }

  /* -- */
  .dias-calendario .dia {
    font-size: 22px;
    text-align: center;
  }
  .dias-calendario .escudo p {
    font-size: 41px;
  }
  .dias-calendario .fa-play {
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .style-calendario-jogo .amarelo {
    width: 100%;
    height: auto;
  }
  .style-calendario-jogo .atencao img {
    width: 244px;
    height: 72px;
    object-fit: cover;
    margin: 68px 0;
  }
  .style-calendario-jogo .amarelo p {
    width: 100%;
    font-size: 22px;
    height: 64px;
  }
  .style-calendario-jogo .btn-acumulou1,
  .style-calendario-jogo .btn-acumulou {
    height: 56px;
  }
  .style-calendario-jogo .acumulou {
    padding-left: 88px;
  }
  .style-calendario-jogo .acumulou h1 {
    font-size: 26px;
    margin-top: -15px;
  }
  .style-calendario-jogo .triang h1 {
    font-size: 69px;
  }
  .style-calendario-jogo .dias h1,
  .style-calendario-jogo .dias h2,
  .style-calendario-jogo .Dsort1 {
    font-size: 16px;
  }

  .style-calendario-jogo .dias2 h2,
  .style-calendario-jogo .dias2 h1,
  .style-calendario-jogo .Dsort2 {
    font-size: 22px;
  }

  .apostar-bolao .acumulou h1 {
    font-size: 27px;
  }
  .header.topo .btn-nome,
  .header.topo .btn-saldo {
    width: 90px;
    height: 35px;
  }

  .header.topo .saldo p,
  .header.topo .nome p {
    font-size: 19px;
  }
  .header.topo .nome,
  .header.topo .saldo {
    margin-top: -33px;
  }
  footer .redes i {
    margin-top: 15px;
    text-align: center;
    align-items: center;
    font-size: 21px;
  }
  footer .redes {
    margin-top: 50px;
  }

  footer .redes h2 {
    font-size: 17px;
  }

  footer .direita {
    margin-top: 85px;
  }

  .secao-iniciais .container,
  .conta-criada .container {
    width: 80%;
  }
  .secao-iniciais .logo-img img {
    width: 180px;
    height: 222px;
    margin: auto;
  }
  .secao-iniciais .entrar .icon-bem-vindo {
    width: 230px;
    height: 158px;
    margin-left: 12px;
  }
  .secao-iniciais .botao button {
    width: 109px;
  }
  .secao-iniciais .btn-criar {
    padding: 3px 35px;
    font-size: 18px;
  }

  .acessar-com-celular .rz-textbox {
    font-size: 28px;
  }
  /***/
  header.topo .logo img {
    height: 112px;
    margin-top: 16px;
  }

  header.topo .cad {
    width: 92px;
    font-size: 19px;
    height: 31px;
  }
  header.topo .menu a {
    margin-right: 13px;
  }
  header.topo .menu {
    font-size: 19px;
    margin-top: -32px;
  }
  header.topo .jogar {
    margin-right: 16px;
    width: 77px;
    font-size: 20px;
    height: 29px;
  }
  header.topo {
    height: 83px;
  }

  .linha-titulo {
    height: 80px;
    font-size: 48px;
  }
  .btn-bicho-bolao .jogoBicho img,
  .btn-bicho-bolao .bolao img {
    width: 273px;
    height: 202px;
  }
  .apostar-bolao .btn {
    padding: 0;
    font-size: 19px;
  }
  .apostar-bolao .btn-apostar {
    font-size: 21px;
  }

  .apostar-bolao .esp {
    width: 31px;
  }
  .apostar-bolao .bilhete p2 {
    margin-left: 0;
  }
}

@media (min-width: 541px) and (max-width: 767px) {
}

@media (min-width: 0px) and (max-width: 540px) {
}

@media (min-width: 0px) and (max-width: 767px) {
  .style-calendario-jogo .amarelo p {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .style-calendario-jogo .atencao,
  .style-calendario-jogo .amarelo {
    display: block;
    height: auto;
    margin-bottom: 50px;
  }

  .style-calendario-jogo .atencao img,
  .style-tabela-container.style-calendario-jogo .atencao img {
    padding-top: 51px;
    margin: 0 auto;
    display: block;
    height: 171px;
    width: 100%;
  }

  .style-calendario-jogo .verde {
    font-family: "Tw Cen MT Std Extra Bold";
    display: flex;
    align-items: center;
    align-content: center;
    height: 34px;
    width: 113px;
    font-size: 15px;
    background: #64bc44;
    color: #ffffff;
    justify-content: center;
    border-radius: 25px;
    margin-top: 8px;
  }
  .style-calendario-jogo .btn-acumulou1,
  .style-calendario-jogo .btn-acumulou {
    width: 15px;
    height: 35px;
  }
  .style-calendario-jogo .acumulou h1 {
    margin-top: -19px;
    margin-left: 6px;
    font-size: 20px;
    padding-top: 16px;
  }
  .style-calendario-jogo .acumulou {
    width: 320px;
    background-size: 100% 161px;
    height: 163px;
    padding-left: 51px;
    margin-top: 23px;
  }

  .style-calendario-jogo .triang h1 {
    font-size: 36px;
    margin: 21px 0 14px 0;
  }
  .style-calendario-jogo .dias h1,
  .style-calendario-jogo .dias h2,
  .style-calendario-jogo .Dsort1,
  .style-calendario-jogo .dias2 h2,
  .style-calendario-jogo .dias2 h1,
  .style-calendario-jogo .Dsort2 {
    font-size: 16px;
  }
  .secao-iniciais .logo-img {
    height: 250px;
  }
  .secao-iniciais .logo-img img,
  .conta-criada .img img {
    width: 129px;
  }

  .secao-iniciais .container,
  .conta-criada .container {
    width: 90%;
  }
  .secao-iniciais {
    height: auto;
    padding: 20px 0;
  }

  .secao-iniciais {
    background: -webkit-linear-gradient(to bottom, #f7c934 250px, white 250px);
    background: -o-linear-gradient(to bottom, #f7c934 250px, white 250px);
    background: -moz-linear-gradient(to bottom, #f7c934 250px, white 250px);
    background: linear-gradient(to bottom, #f7c934 250px, white 250px);
  }
  .secao-iniciais .entrar .icon-bem-vindo {
    width: 200px;
    height: 128px;
    margin: 0 auto;
    display: block;
  }
  .secao-iniciais .entrar h1,
  .secao-iniciais .entrar .titulo {
    margin: 20px 0 9px 0 !important;
    text-align: center !important;
  }

  .secao-iniciais .botao {
    width: 376px;
    margin: 0 auto;
    display: flex;
  }

  .secao-iniciais .btn-criar,
  .secao-iniciais .btn-voltar {
    display: block;
    margin: 0 auto;
    margin-top: 45px;
    width: 337px;
  }

  .secao-iniciais .btn-voltar {
    padding: 3px 0px;
  }

  .secao-iniciais .entrar {
    height: auto;
    padding: 25px 0 37px 0;
  }

  .secao-iniciais .entrar .destaque {
    font-size: 64px;
  }

  .campo-form {
    width: 100%;
  }
  .acessar-com-celular .rz-textbox {
    padding: 0 5px 0 63px;
    width: 300px;
    margin: 0 auto;
    display: block;
    margin-top: 17px;
    font-size: 23px;
  }

  .acessar-com-celular .icon-celular {
    position: absolute;
    height: 38px;
    left: 50%;
    margin-top: 13px;
    margin-left: -128px;
  }

  .acessar-com-celular .icon-senha {
    position: absolute;
    left: 50%;
    margin-top: 19px;
    margin-left: -140px;
    width: 48px;
  }

  .acessar-com-celular .icon-email {
    position: absolute;
    left: 50%;
    margin-top: 18px;
    margin-left: -136px;
    width: 41px;
    height: auto;
  }

  .btg-entrar-esqueceu-senha .btn-criar {
    width: 100%;
  }
  .btg-entrar-esqueceu-senha {
    padding-right: 0;
  }
  .conta-criada .texto {
    font-size: 26px;
    line-height: 27px;
    margin-bottom: 30px;
    padding: 0 20px;
  }

  .secao-iniciais .idade,
  .secao-iniciais .termos {
    width: 310px;
    margin: 0 auto;
  }
  .espaco-mobile {
    display: block;
  }
  header.topo {
    height: 80px;
  }
  header.topo .logo img {
    width: auto;
    height: 115px;
    margin-top: 13px;
    margin-left: 11px;
    z-index: 2;
    position: relative;
  }

  .linha-titulo {
    height: 50px;
    font-size: 25px;
  }
  header.topo .menu a,
  header.topo .jogar {
    margin-right: 0;
  }
  .btn-bicho-bolao {
    display: initial;
  }

  .btn-bicho-bolao .jogoBicho img,
  .btn-bicho-bolao .bolao img {
    width: 310px;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .btn-bicho-bolao .jogoBicho {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  footer {
    background: #292d2f;
    margin-top: 33px;
  }

  footer .rodape {
    height: auto;
    display: initial;
    background: #292d2f;
  }
  footer .copy p {
    margin-top: 40px;
    padding-top: 46px;
    text-align: center;
    position: relative;
    bottom: 0;
  }
  footer .redes {
    margin-top: 0;
    font-size: 0;
  }

  footer .redes h1 {
    font-size: 25px;
  }
  footer .direita {
    margin-top: 0;
    margin-left: 0;
  }
  footer .direita img {
    margin: 0 auto;
    display: block;
  }

  footer .link {
    margin: 0 auto;
    display: block;
    width: 202px;
  }
  footer .link h2 {
    font-size: 15px;
  }

  footer .direita h3 {
    text-align: center;
    margin: 0;
    padding-bottom: 43px;
  }

  .apostar-bolao .click {
    display: block;
    margin-left: 0;
    margin-top: 67px;
  }
  .apostar-bolao .btn,
  .apostar-bolao .btn-apostar {
    width: calc(50% - 10px);
    float: left;
    margin: 5px 5px;
  }
  .apostar-bolao .acumulou {
    width: 320px;
    background-size: 100%;
  }
  .apostar-bolao .acumulou h1 {
    margin-top: 51px;
    margin-left: 51px;
    font-size: 24px;
  }
  .apostar-bolao .btn-acumulou,
  .apostar-bolao .btn-acumulou1 {
    height: 35px;
    width: 15px;
  }
  .apostar-bolao .btn-sair {
    margin-right: 0;
  }
  .apostar-bolao .bilh-num1,
  .apostar-bolao .bilh-num2 {
    display: block;
  }
  .apostar-bolao .digitar {
    float: left;
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-left: 0px;
  }
  .apostar-bolao .digitar.tres-campos {
    width: calc(60% - 10px) !important;
  }
  .apostar-bolao .digitar.quatro-campos {
    width: calc(100% - 0px) !important;
  }
  .apostar-bolao .bilhete p2 {
    margin-left: 0;
  }
  .apostar-bolao .apostar {
    width: 92%;
  }
  .header.topo .saldo {
    margin-left: 0;
    margin-top: 0;
  }
  .header.topo .nome {
    margin-left: 0;
    margin-top: 0;
  }
  .header.topo .btn-nome,
  .header.topo .btn-saldo {
    margin-right: 0;
  }
  .apostar-bolao .acumulou-segundo {
    width: 260px;
  }
  .apostar-bolao .azul {
    width: 100%;
  }

  .apostar-bolao .azul p,
  .apostar-bolao .azul p1 {
    font-size: 22px;
  }
  .apostar-bolao .btn-valor {
    width: 220px;
  }
}

@media (min-width: 0px) and (max-width: 991px) {
  .style-calendario-jogo .scroll-mobile-y {
    overflow-y: scroll;
  }

  .scroll-mobile {
    width: 1000px;
  }
  .style-calendario-jogo .legenda {
    padding: 0 50px;
  }
  /* -- */
  .dias-calendario .dia {
    font-size: 16px;
    text-align: center;
  }
  .dias-calendario .escudo p {
    font-size: 31px;
    margin-left: -33px;
  }
  .dias-calendario .fa-play {
    margin-top: 20px;
  }
  .dias-calendario .escudo {
    background-size: 80px 80px;
    height: 94px;
  }
}

@media (min-width: 767px) {
  @media screen and (max-height: 730px) {
    .secao-iniciais {
      height: auto;
      padding: 40px 0;
    }

    .secao-iniciais .logo-img,
    .secao-iniciais .entrar {
      height: 717px;
    }
  }
}
