@media (min-width: 1200px) and (max-width: 1600px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
  /*  Pagina Inicial Bem Vindo */
  .secao-iniciais .entrar .icon-bem-vindo {
    width: 254px;
    height: 158px;
  }

  .acessar-com-celular .rz-textbox {
    font-size: 28px;
  }
  /* final Pagina Inicial Bem Vindo */
}

@media (min-width: 768px) and (max-width: 991px) {
  /*  Pagina Inicial Bem Vindo */
  .secao-iniciais .container {
    width: 80%;
  }
  .secao-iniciais .logo-img img {
    width: 180px;
    height: 222px;
    margin: auto;
  }
  .secao-iniciais .entrar .icon-bem-vindo {
    width: 230px;
    height: 158px;
    margin-left: 12px;
  }
  .secao-iniciais .botao button {
    width: 109px;
  }
  .secao-iniciais .btn-criar {
    padding: 3px 35px;
    font-size: 18px;
  }

  .acessar-com-celular .rz-textbox {
    font-size: 28px;
  }
  /* final Pagina Inicial Bem Vindo */
}

@media (min-width: 541px) and (max-width: 767px) {
}

@media (min-width: 0px) and (max-width: 540px) {
}

@media (min-width: 0px) and (max-width: 767px) {
  /*  Pagina Inicial Bem Vindo */
  .secao-iniciais .logo-img {
    height: 250px;
  }
  .secao-iniciais .logo-img img {
    width: 129px;
  }

  .secao-iniciais .container {
    width: 90%;
  }
  .secao-iniciais {
    height: auto;
    padding: 20px 0;
  }

  .secao-iniciais {
    background: -webkit-linear-gradient(to bottom, #f7c934 250px, white 250px);
    background: -o-linear-gradient(to bottom, #f7c934 250px, white 250px);
    background: -moz-linear-gradient(to bottom, #f7c934 250px, white 250px);
    background: linear-gradient(to bottom, #f7c934 250px, white 250px);
  }
  .secao-iniciais .entrar .icon-bem-vindo {
    width: 200px;
    height: 128px;
    margin: 0 auto;
    display: block;
  }
  .secao-iniciais .entrar h1,
  .secao-iniciais .entrar .titulo {
    margin: 20px 0 9px 0 !important;
    text-align: center !important;
  }

  .secao-iniciais .botao {
    width: 376px;
    margin: 0 auto;
    display: flex;
  }

  .secao-iniciais .btn-criar,
  .secao-iniciais .btn-voltar {
    display: block;
    margin: 0 auto;
    margin-top: 45px;
    width: 337px;
  }

  .secao-iniciais .btn-voltar {
    padding: 3px 0px;
  }

  .secao-iniciais .entrar {
    height: auto;
    padding: 25px 0 37px 0;
  }

  .secao-iniciais .entrar .destaque {
    font-size: 64px;
  }
  /* final Pagina Inicial Bem Vindo */

  .campo-form {
    width: 100%;
  }
  .acessar-com-celular .rz-textbox {
    padding: 0 5px 0 63px;
    width: 300px;
    margin: 0 auto;
    display: block;
    margin-top: 17px;
    font-size: 23px;
  }

  .acessar-com-celular .icon-celular {
    position: absolute;
    height: 38px;
    left: 50%;
    margin-top: 13px;
    margin-left: -128px;
  }

  .acessar-com-celular .icon-senha {
    position: absolute;
    left: 50%;
    margin-top: 19px;
    margin-left: -140px;
    width: 48px;
  }

  .acessar-com-celular .icon-email {
    position: absolute;
    left: 50%;
    margin-top: 18px;
    margin-left: -136px;
    width: 41px;
    height: auto;
  }

  .btg-entrar-esqueceu-senha .btn-criar {
    width: 100%;
  }
  .btg-entrar-esqueceu-senha {
    padding-right: 0;
  }
}

@media (min-width: 0px) and (max-width: 991px) {
}
