@font-face {
  font-family: "Tw Cen MT Std Extra Bold Cond";
  src: url("../fontes/TwCenMTStd-ExtraBoldCond.otf");
}
@font-face {
  font-family: "Tw Cen MT Std Extra Bold";
  src: url("../fontes/TwCenMTStd-ExtraBold.otf");
}
@font-face {
  font-family: "Tw Cen Classified MT Std";
  src: url("../fontes/TwCenClassMTStd-Regular.otf");
}
@font-face {
  font-family: "Tw Cen MT Std-Bold";
  src: url("../fontes/TwCenMTStd-Bold.otf");
}
@font-face {
  font-family: "Tw Cen MT Std Ultra Bold";
  src: url("../fontes/TwCenMTStd-UltraBoldIt.otf");
}
@font-face {
  font-family: "Tw Cen MT Std Medium Cond";
  src: url("../fontes/TwCenMTStd-BoldCond.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sem-espaco {
  padding: 0;
  margin: 0;
}

/*  Pagina Inicial Bem Vindo */

.secao-iniciais {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(right, #f7c934 44%, white 44%);
  background: -o-linear-gradient(right, #f7c934 44%, white 44%);
  background: -moz-linear-gradient(right, #f7c934 44%, white 44%);
  background: linear-gradient(to right, #f7c934 44%, white 44%);
}

.secao-iniciais .container {
  width: 64%;
  box-shadow: 0 0 30px #00000075;
  padding: 0;
}

.secao-iniciais .logo-img {
  display: grid;
  align-items: center;
  height: 80vh;
}

.secao-iniciais .logo-img img {
  width: 260px;
  height: auto;
  margin: auto;
}
.secao-iniciais .entrar {
  display: grid;
  align-items: center;
  height: 80vh;
}

.secao-iniciais .entrar .destaque {
  font-size: 107px;
  color: #bfbebe;
  letter-spacing: -3px;
  font-family: "Tw Cen MT Std Extra Bold Cond";
  margin-left: 12px;
}

.secao-iniciais .entrar .icon-bem-vindo {
  width: 329px;
  height: 208px;
  margin-left: -8px;
}

.secao-iniciais .entrar .titulo {
  font-family: "Tw Cen MT Std Extra Bold Cond";
  font-size: 22px;
  text-align: left;
  color: #0a4c8e;
  margin: 20px 0 9px 25px;
}

.secao-iniciais .botao {
  display: inline-flex;
}

.secao-iniciais .botao button {
  width: 155px;
  height: 105px;
}

.secao-iniciais .btn-cel,
.secao-iniciais .btn-email {
  border: 1px solid #555555a6;
  border-radius: 5px;
  margin-left: 20px;
  font-family: "Tw Cen MT Std Extra Bold Cond";
  font-size: 23px;
  box-shadow: 0px 0px 4px #3c3c3cbd;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 29%,
    rgba(217, 217, 217, 1) 100%
  );
}

.secao-iniciais .botao button .icon-celular,
.secao-iniciais .botao button .icon-email {
  display: block;
  margin: 0 auto;
}

.secao-iniciais .btn-criar {
  padding: 6px 0;
  font-size: 21px;
  font-family: "Tw Cen MT Std Extra Bold Cond";
  background-color: #66b22e;
  color: #ffffff;
  border: 1px solid #66b22e;
  border-radius: 4px;
  margin-left: 17px;
  margin-top: 45px;
}

.secao-iniciais .btn-voltar {
  padding: 3px 71px;
  font-size: 25px;
  font-family: "Tw Cen MT Std Extra Bold Cond";
  background-color: transparent;
  color: #156eb5;
  border: none;
  border-radius: 4px;
  margin-left: 17px;
  margin-top: 45px;
  display: block;
  height: 40px;
  padding-left: 39px;
}

.secao-iniciais .btn-voltar img {
  position: absolute;
  margin: 7px 0 0 -63px;
}

/* final Pagina Inicial Bem Vindo */
/* Pagina Acessar com celular */

.campo-form {
  width: 80%;
}

.acessar-com-celular .rz-textbox {
  width: 100%;
  font-size: 33px;
  font-weight: 900;
  height: 63px;
  border-radius: 6px;
  border-color: #8b8d8f;
  padding: 0 0px 0 85px;
  margin: 0 0 17px 17px;
  color: #d3d5d3 !important;
  font-family: "Tw Cen MT Std Extra Bold Cond";
}

.acessar-com-celular input,
.acessar-com-celular input::placeholder {
  color: #d3d5d3 !important;
}

.acessar-com-celular .icon-celular {
  position: absolute;
  height: 45px;
  margin: 9px 0 0 45px;
}

.acessar-com-celular .icon-email {
  position: absolute;
  margin: 15px 0 0 27px;
}

.btg-entrar-esqueceu-senha {
  width: 290px;
  margin: 0 auto;
  padding-right: 77px;
}

.secao-iniciais .btn-criar {
  margin-left: 15px;
  margin-top: 38px;
  width: 340px;
  margin-bottom: 4px;
}

.btg-entrar-esqueceu-senha .btn-criar {
  width: 100%;
  margin-left: 1px;
  margin-top: 22px;
}

.btg-entrar-esqueceu-senha p {
  font-size: 22px;
  text-align: center;
  color: #0a4c8e;
  font-family: "Tw Cen MT Std Medium Cond";
  font-weight: 100;
  margin-bottom: 0;
}

/* FIM Pagina Acessar com celular */
