@page "/acessarcomemail"

@inject IAuthService AuthService;
@inject NavigationManager _nav;

<EditForm Model="regModel" OnValidSubmit="HandleRegistration">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @if (ShowErros)
    {
    <div class="alert alert-danger" role="alert">
        @foreach (var erro in Erros)
        {
        <p>@erro</p>
        }
    </div>
    }


    <section class="secao-iniciais acessar-com-celular">
        <div class="container sem-espaco">
            <div class="row sem-espaco">
                <div class="col-xs-12 col-sm-12 col-md-5 sem-espaco">
                    <div class="logo-img">
                        <img src="img/IMAGEM LOGO FUNDO TRANSPARENTE.png" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 sem-espaco">
                    <div class="entrar">
                        <div>


                            <h1 class="titulo">ACESSE COM SEU E-MAIL</h1>

                            <div class="campo-form">
                                <img src="img/icon-email.png" class="icon-email">
                                <RadzenTextBox class="campo-email" Placeholder="Informe seu e-mail" type="email"
                                    ID="Eml" Name="Eml" @bind-Value="regModel.Documento" />
                            </div>

                            <div class="campo-form">
                                <img src="img/icon-senha.png" class="icon-senha">
                                <RadzenPassword class="campo-senha" Placeholder="Informe sua senha" ID="Pwd" Name="Pwd"
                                    @bind-Value="regModel.Senha" />
                            </div>


                            <div class="btg-entrar-esqueceu-senha">
                                <button class="btn-criar"> ENTRAR </button>
                                <p onclick="@(async () => await RecuperarSenha())"> Esqueceu sua senha?</p>
                            </div>

                            <button class="btn-voltar" @onclick="@(()=>_nav.NavigateTo(" /inicial"))">
                                <img src="img/icon-voltar.png">
                                <p>Voltar</p>
                            </button>
 
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</EditForm>

@code{
private acessarModel regModel = new acessarModel();
private bool ShowErros;
private IEnumerable<string> Erros;

    protected override void OnInitialized()
    {
    regModel = new acessarModel();
    regModel.Tipo = "Celular";
    }

    private async Task HandleRegistration()
    {
    ShowErros = false;
    var result = await AuthService.Login(regModel);
    if (result.Sucesso)
    {
    _nav.NavigateTo("/principal");
    } else
    {
    Erros = result.Erros;
    ShowErros = true;
    }
    }

    private async Task RecuperarSenha()
    {
    if (regModel.Documento == "")
    {
    Erros = new string[1] { "Para Recuperar Sua Senha Informe Seu E-mail !" };
    ShowErros = true;
    StateHasChanged();
    }
    else
    {
    _nav.NavigateTo("/verificarcadastros/1/" + regModel.Documento);
    }
    }
    }