@page "/contacriada"

@inject NavigationManager _nav;

<section class="conta-criada">
    <div class="container sem-espaco">
        <div class="row sem-espaco">
            <div class="col-xs-12 col-sm-12 col-md-12 sem-espaco box">
                <div>

                    <div class="img">
                        <img src="img/IMAGEM LOGO FUNDO TRANSPARENTE.png" />
                    </div>

                    <div class="texto">
                        <p>
                            Parabéns você acaba de criar sua conta<br> Seja Bem Vindo
                            <i class="fa-solid fa-check-double"></i>
                        </p>
                    </div>

                    <div class="btn">
                        <button @onclick="@(()=>_nav.NavigateTo(" /principal"))" class="btn-conta">
                            Acessar sua conta
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>