@page "/inicial"

@inject NavigationManager _nav;

<section class="secao-iniciais">
    <div class="container sem-espaco">
        <div class="row sem-espaco">
            <div class="col-xs-12 col-sm-12 col-md-5 sem-espaco">
                <div class="logo-img">
                    <img src="img/IMAGEM LOGO FUNDO TRANSPARENTE.png" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 sem-espaco">
                <div class="entrar">
                    <div>
                        <img src="img/bemvindo.svg" class="icon-bem-vindo" />

                        <h1 class="titulo">ACESSAR COM</h1>

                        <div class="botao">
                            <button @onclick="@(()=>_nav.NavigateTo(" /acessarcomcelular"))" class="btn-cel">
                                <img src="img/icon-celular.png" class="icon-celular">
                                CELULAR
                            </button>
                            <button @onclick="@(()=>_nav.NavigateTo(" /acessarcomemail"))" class="btn-email">
                                <img src="img/icon-email.png" class="icon-email">
                                E-MAIL
                            </button>
                        </div>

                        <button @onclick="@(()=>_nav.NavigateTo(" /criarconta"))" class="btn-criar"> CRIAR UMA NOVA
                            CONTA </button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>