@page "/verificarcadastros/{celular}/{email}"
@inject IAuthService AuthService;
@inject NavigationManager _nav;

 

            @if (ShowErros)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var erro in Erros)
        {
            <p>@erro</p>
        }
    </div>
}


<section class="secao-iniciais acessar-com-celular verificacao">
        <div class="container sem-espaco">
            <div class="row sem-espaco">
                <div class="col-xs-12 col-sm-12 col-md-5 sem-espaco">
                    <div class="logo-img">
                        <img src="img/IMAGEM LOGO FUNDO TRANSPARENTE.png" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 sem-espaco">
                    <div class="entrar">
                        <div>
                            <h1 class="titulo">Verificaçao</h1>

                            <p class="text">Enviamos por mensagem seu código de acesso para confirmar seu cadastro</p>

                            <div class="campo-form">
                                <img src="img/icon-senha.png" class="icon-senha">
                                <div class="campos">
                                <RadzenTextBox type="text" class="btn-num" ID="Num1" Name="Num1" @bind-Value="_num1" MaxLength="1" />
                                <RadzenTextBox type="text" class="btn-num" ID="Num2" Name="Num2" @bind-Value="_num2" MaxLength="1" />
                                <RadzenTextBox type="text" class="btn-num" ID="Num3" Name="Num3" @bind-Value="_num3" MaxLength="1" />
                                <RadzenTextBox type="text" class="btn-num" ID="Num4" Name="Num4" @bind-Value="_num4" MaxLength="1" />
                                </div>
                                <div class="btg-entrar-esqueceu-senha" @onclick="@HandleRegistration">
                                    <button class="btn-criar"> OK </button>
                                </div>

                            </div>

                   
                          

                            <div class="codigo">
                                <p class="text"> Reenviar codigo</p>
                            </div>

                            <button class="btn-voltar"  @onclick="@(()=>_nav.NavigateTo("/criarconta"))" >
                                <img src="img/icon-voltar.png">
                                <p>Voltar</p>
                            </button>

                  
 

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


	 

@code {
    [Parameter]
    public string? celular { get; set; }
    [Parameter]
    public string? email { get; set; }

    private usuariosCadastrarseCelularModel regModel1 = new usuariosCadastrarseCelularModel();
    private usuariosCadastrarseEmailModel regModel2 = new usuariosCadastrarseEmailModel();

    private bool ShowErros;
    private bool ShowContraSenha = false;
    private IEnumerable<string> Erros;
    private string estagio = "Cadastrar-se";
    private string acao = "Enviamos por mensagem seu código de acesso para confirmar seu cadastro";

    private string _num1 = "";
    private string _num2 = "";
    private string _num3 = "";
    private string _num4 = "";

    protected override void OnInitialized()
    {
        estagio = "Cadastrar-se";
        ShowContraSenha = false;
        if(!string.IsNullOrEmpty(celular) && celular.Trim().Length > 5)
        {
            regModel1.celular = celular;
            regModel1.senha = "000000";
            regModel1.confirmarSenha = "000000";
            regModel1.confirmarCodigo = "0";
            if(email == "1") acao = "Enviamos um SMS para seu celular com sua nova senha";
        } else {
            //if(!string.IsNullOrEmpty(email)){
            regModel2.email = email;
            regModel2.senha = "000000";
            regModel2.confirmarSenha = "000000";
            regModel2.confirmarCodigo = "0";
            if (celular == "1") acao = "Enviamos um E-mail com sua nova senha";
            //} else {
            //        _nav.NavigateTo("/criarconta");
            //}
        }
    }
    protected async void HandleRegistration()
    {
        ShowErros = false;

        if(string.IsNullOrEmpty(_num1)){
            Erros = new string[1] { "Informe o Primeiro Número dos Quatro Obrigatórios" };
            ShowErros = true;
            StateHasChanged();
        } else {
            if(string.IsNullOrEmpty(_num2)){
                Erros = new string[1] { "Informe o Segundo Número dos Quatro Obrigatórios" };
                ShowErros = true;
                StateHasChanged();
            } else {
                if(string.IsNullOrEmpty(_num3)){
                    Erros = new string[1] { "Informe o Terceiro Número dos Quatro Obrigatórios" };
                    ShowErros = true;
                    StateHasChanged();
                } else {
                    if(string.IsNullOrEmpty(_num4)){
                        Erros = new string[1] { "Informe o Quarto Número dos Quatro Obrigatórios" };
                        ShowErros = true;
                        StateHasChanged();
                    } else {
                        try{
                            if(!string.IsNullOrEmpty(celular) && celular.Trim().Length > 5){
                                regModel1.confirmarCodigo = _num1+_num2+_num3+_num4;
                                if (email == "1") regModel1.confirmarCodigo = "-" + regModel1.confirmarCodigo;
                                var result1 = await AuthService.ValidarCelular(regModel1);
                                if (result1.Sucesso)
                                {
                                    _nav.NavigateTo("/contacriada");
                                }
                                else
                                {
                                    Erros = result1.Erros;
                                    ShowErros = true;
                                    StateHasChanged();
                                }
                            }
                            else
                            {
                                regModel2.confirmarCodigo = _num1+_num2+_num3+_num4;
                                if (celular == "1") regModel1.confirmarCodigo = "-" + regModel1.confirmarCodigo;
                                var result2 = await AuthService.ValidarEmail(regModel2);
                                if (result2.Sucesso)
                                {
                                    _nav.NavigateTo("/contacriada");
                                }
                                else
                                {
                                    Erros = result2.Erros;
                                    ShowErros = true;
                                    StateHasChanged();
                                }
                            }
                        } catch(Exception ex){
                            Erros = new string[1] { "Erro: " + ex.Message };
                            ShowErros = true;
                            StateHasChanged();
                        }
                    }}}}

    }
}
