@page "/Sorteio"
@inject IAuthService AuthService;
@inject NavigationManager _nav;

<header class="header topo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 centralizar">
                <div class="logo">
                    <img src="img/IMAGEM LOGO FUNDO TRANSPARENTE.png" />
                </div>
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="menu">
                    <li>
                        <a href="#">HOME</a>
                    </li>
                    <li>
                        <a href="#">GUIA DO JOGO</a>
                    </li>
                    <li>
                        <a href="#">SORTEIOS</a>
                    </li>
                    <li>
                        <button class="jogar"> JOGAR</button>
                    </li>
                    <li>
                        <a href="#">RESULTADO</a>
                    </li>
                    <li>
                        <a href="#">ENTRAR</a>
                    </li>
                    <li>
                        <button class="cad"> CADASTRAR</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="linha-titulo"> RESULTADOS </div>

<center>
    <div class="btn-bicho-bolao">
        <div class="jogoBicho"> <img src="img/13.png" /> </div>

        <div class="bolao"> <img src="img/14.png" /> </div>
    </div>
</center>

<footer>
    <div class="container">
        <div class="row rodape">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="copy">
                    <p> Copyright 1993-2022 Animal Game N.V </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="redes">
                    <h1> SIGA, CURTE E COMPARTILHE!</h1>
                    <div class="icons">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-tiktok"></i>
                        <i class="fa-brands fa-vimeo-v"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-discord"></i>
                        <i class="fa-brands fa-github"></i>
                    </div>
                    <h2> Baixe nosso aplicativo</h2>
                    <img class="um" src="img/google.png" />
                    <img class="dois" src="img/Img_app_store.png" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="direita">
                    <img class="dois" src="img/bandeira.png" />
                    <div class="link">
                        <h2> <i class="fa-regular fa-envelope"></i> suporte@jogos.capital</h2>
                    </div>
                    <h3> Proibido jogar menores de 18 anos <i class="fa-solid fa-ban"></i> </h3>
                </div>
            </div>
        </div>
    </div>
</footer>