@page "/principal"

@inject NavigationManager _nav;


<header class="header topo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 centralizar">
                <div class="logo">
                    <img src="img/IMAGEM LOGO FUNDO TRANSPARENTE.png" />
                </div>
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="menu">
                    <li>
                        <a href="#">HOME</a>
                    </li>
                    <li>
                        <a href="#">GUIA DO JOGO</a>
                    </li>
                    <li>
                        <a href="#">SORTEIOS</a>
                    </li>
                    <li>
                        <button class="jogar"> JOGAR</button>
                    </li>
                    <li>
                        <a href="#">RESULTADO</a>
                    </li>
                    <li>
                        <a href="#">ENTRAR</a>
                    </li>
                    <li>
                        <button class="cad"> CADASTRAR</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container style-calendario-jogo">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="linha-titulo-img"> <img src="img/celular.png" /> </div>

            <center>
                <div class="acumulou">
                    <h1>PRÊMIO ACUMULOU</h1>

                    <div class="cinza">
                        <div class="btn1">
                            <button class="btn-acumulou1"> </button>
                            <button class="btn-acumulou"> </button>
                            <button class="btn-acumulou"> </button>
                            <button class="btn-acumulou"> </button>
                        </div>
                        <div class="btn2">
                            <button class="btn-acumulou"> </button>
                            <button class="btn-acumulou"> </button>
                            <button class="btn-acumulou"> </button>
                        </div>
                    </div>

                    <div class="verde"> JOGAR </div>

                </div>
            </center>
        </div>
    </div>
</div>


<div class="linha-titulo"> SORTEIOS DIÁRIO </div>

<div class="container style-calendario-jogo">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <center>
                <div class="sorteio scroll-mobile-y">

                    <div class="triang">
                        <h1>RESULTADO DE HOJE</h1>
                        <p>Horário atual</p>
                    </div>

                    <div class="scroll-mobile">

                        <div class="dias">
                            <button class="Dsort1"> PRÊMIOS </button>
                            <button class="Dsort">
                                <h1> PTM |</h1>
                                <h2> 11:00 </h2>
                            </button>
                            <button class="Dsort">
                                <h1> PT |</h1>
                                <h2> 14:00 </h2>
                            </button>
                            <button class="Dsort">
                                <h1> PTV |</h1>
                                <h2> 16:00 </h2>
                            </button>
                            <button class="Dsort">
                                <h1> PTN |</h1>
                                <h2> 18:00 </h2>
                            </button>
                            <button class="Dsort">
                                <h1> COR |</h1>
                                <h2> 21:00 </h2>
                            </button>

                        </div>

                        <div class="cartilha">
                            <img src="img/num1.png" />
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                        </div>

                        <div class="cartilha">
                            <img src="img/num2.png" />
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                        </div>

                        <div class="cartilha">
                            <img src="img/num3.png" />
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                        </div>

                        <div class="cartilha">
                            <img src="img/num4.png" />
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                        </div>

                        <div class="cartilha">
                            <img src="img/num5.png" />
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>

                        </div>

                        <div class="cartilha">
                            <img src="img/num6.png" />
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                        </div>

                        <div class="cartilha">
                            <img src="img/num7.png" />
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>
                            <button class="espa"> </button>

                        </div>


                        <div class="resul"> Resultado da extração do Rio de Janeiro </div>
                    </div>
                </div>
            </center>

            <center>
                <div class="legenda scroll-mobile-y">
                    <div class="scroll-mobile">
                        <div class="inicio">
                            <button class="traco"> </button>
                            <button class="text"> LEGENDA </button>
                            <button class="traco"> </button>
                        </div>
                        <div class="lado-lado">
                            <div class="prim">
                                <button class="dia">
                                    <h1> PTM |</h1>
                                    <h2> PARA TODA MANHÃ </h2>
                                    <h3>11:00</h3>
                                </button>
                                <button class="dia">
                                    <h1> PTV |</h1>
                                    <h2> PARA TODOS VESPERTINO </h2>
                                    <h3> 14:00 </h3>
                                </button>
                                <button class="dia">
                                    <h1> FED |</h1>
                                    <h2> FEDERAL (QUARTA E SÁ BADO) </h2>
                                    <h3> 19:00</h3>
                                </button>
                            </div>
                            <div class="seg">
                                <button class="dia">
                                    <h1> PT |</h1>
                                    <h2> PARA TODOS </h2>
                                    <h3> 14:00</h3>
                                </button>
                                <button class="dia">
                                    <h1> PTN |</h1>
                                    <h2> PARA TODA NOITE </h2>
                                    <h3> 18:00 </h3>
                                </button>
                                <button class="dia">
                                    <h1> COR |</h1>
                                    <h2> CORUJINHA </h2>
                                    <h3> 21:00</h3>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </center>

            <div class="duvidas">
                <h1> PRECISA DE AJUDA? </h1>

                <div class="perguntas row">

                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <button class="como">
                            <p>Como fazer uma aposta?</p> <i class="fa-sharp fa-solid fa-play"></i>
                        </button>
                        <button class="como">
                            <p>Como fazer um depó sito?</p> <i class="fa-sharp fa-solid fa-play"></i>
                        </button>
                        <button class="como">
                            <p>Veja nossa cotaçã o</p> <i class="fa-sharp fa-solid fa-play"></i>
                        </button>
                        <button class="como">
                            <p>Quero aprender a jogar</p> <i class="fa-sharp fa-solid fa-play"></i>
                        </button>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <button class="como">
                            <p>Como criar uma conta?</p> <i class="fa-sharp fa-solid fa-play"></i>
                        </button>
                        <button class="como">
                            <p>Como fazer um saque? </p> <i class="fa-sharp fa-solid fa-play"></i>
                        </button>
                        <button class="como">
                            <p>Como vejo os resultados anteriores? </p> <i class="fa-sharp fa-solid fa-play"></i>
                        </button>
                        <button class="como">
                            <p>Como jogar no bolã o? </p> <i class="fa-sharp fa-solid fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<footer>
    <div class="container">
        <div class="row rodape">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="copy">
                    <p> Copyright 1993-2022 Animal Game N.V </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="redes">
                    <h1> SIGA, CURTE E COMPARTILHE!</h1>
                    <div class="icons">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-tiktok"></i>
                        <i class="fa-brands fa-vimeo-v"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-discord"></i>
                        <i class="fa-brands fa-github"></i>
                    </div>
                    <h2> Baixe nosso aplicativo</h2>
                    <img class="um" src="img/google.png" />
                    <img class="dois" src="img/Img_app_store.png" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="direita">
                    <img class="dois" src="img/bandeira.png" />
                    <div class="link">
                        <h2> <i class="fa-regular fa-envelope"></i> suporte@jogos.capital</h2>
                    </div>
                    <h3> Proibido jogar menores de 18 anos <i class="fa-solid fa-ban"></i> </h3>
                </div>
            </div>
        </div>
    </div>
</footer>